@media screen and (max-width: 576px) {
  .links,
  .navbar {
    flex-direction: column;
  }
  .banner,
  .feature-container {
    flex-direction: column-reverse;
  }
  .banner-content,
  .companies,
  .feature-content,
  .text-right {
    justify-items: center;
    text-align: center;
    align-items: center;
  }
  .feature-title {
    font-size: 1.8rem;
  }
  .banner-img {
    max-width: 100%;
  }
  section {
    margin: 20px;
  }

  .companies-items {
    flex-wrap: wrap;
    gap: 10px;
  }
  .card-box {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  .banner-title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .banner-content {
    justify-items: center;
    text-align: center;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .card-box,
  .feature-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .companies-items {
    flex-wrap: wrap;
    gap: 7px;
  }
  .companies {
    justify-items: center;
    text-align: center;
    align-items: center;
  }
  section {
    margin: 20px;
  }
  .feature-title {
    font-size: 1.4rem;
  }
  .text {
    font-size: 0.8rem;
  }
  .btn {
    padding: 10px 40px;
    border-radius: 6px;
  }
}
