/* shared */
.display-flex {
  display: flex;
}
body {
  background: rgba(255, 255, 255, 1);
}
main {
  max-width: 1600px;
  margin: 0 auto;
}
section {
  margin-top: 120px;
}
.text {
  font-size: 1rem;
  font-style: semibold;
  font-weight: 600;
  margin-bottom: 30px;
}
/* navbar */
.links li {
  list-style: none;
  margin-right: 20px;
}
.links li a {
  text-decoration: none;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.links :hover {
  color: blue;
}
.name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: 20px;
}
/* banner */
.banner {
  /* width: 100%; */
  align-items: center;
}
.banner-content {
  width: 500px;
  margin: 0 auto;
}
.banner-title {
  font-size: 3.25rem;
  font-weight: 700;
  margin-bottom: 0;
}
.text {
  color: rgba(58, 58, 58, 1);
}
.btn {
  padding: 10px 25px;
  border-radius: 41px;
  background: rgba(224, 44, 109, 1);
  color: white;
  display: inline-flex;
  gap: 5px;
  font-size: 1rem;
  border: none;
}
.banner-img {
  /* height: 80vh; */
  background-image: url('./influencer-gear/images/Circle design.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  width: 450px;
}
.banner-img img {
  position: relative;
  left: 5%;
}
/* companies */
.companies {
  padding: 0 50px;
  /* margin-bottom: 20px; */
}
.companies-items {
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 0px 0px 1px #dcdcdc;
  border-radius: 8px;
}
/* card */
/* .card-container {
  margin: 0 auto;
} */
.rating {
  display: inline-flex;
}
.rating-number {
  font-size: 1rem;
  font-weight: 600;
}
.card-box {
  /* width: 900px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.popular {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 600;
}
.card {
  padding: 10px;
  box-shadow: 0px 0px 9px #dcdcdc;
  border-radius: 8px;
}
.card img {
  width: 100%;
}
.item-name {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
}
.text2 {
  color: rgba(224, 44, 109, 1);
  display: inline-flex;
  gap: 5px;
  font-size: 1rem;
  border: none;
}
.text-right {
  diplay: flex;
  justify-content: flex-end;
  text-align: right;
}
/* features */
.feature-container {
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.feature-title {
  font-size: 2.5rem;
  font-weight: 700;
}
/* .feature-content {
  width: 600px;
} */
/* footer */
.footer {
  background-color: black;
  padding: 50px;
}
.footer-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  text-align: center;
}
.footer-text {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  text-align: center;
}
.icon {
  color: white;
  align-items: center;
  text-align: center;
}
